* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
#famsite {
    margin : 0 auto;
    padding: 200px;
    text-align: center;
    width: 150px;
}
#famsite > li {
    position: relative;
}
#famsite > li > input {
    display: none;
}
#famsite > li > label {
    display: block;
    background-color: #000;
    color: #fff;
    line-height: 50px;
}
#famsite > .fm_menu {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}
#famsite > .fm_menu li {

}
#famsite > .fm_menu li a {
    display: block;
    background-color: #ccc;
    color: #000;
    line-height: 50px;
}
#famsite > li > input:checked .fm_menu {
    height: 250px;
}