* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 10px;
}
ol,ul,dl {
    list-style: none;
}
a {
    text-decoration: none;
}
.tab {
    text-align: center;
    width: 30%;
    position: relative;
}
.tab:after {
    content: "";
    display: block;
    clear: both;
}
.tab li {
    float: left;
    width: 50%;
}
.tab li input {
    display: none;
}
.tab li label {
    display: block;
    background-color: #000;
    color: #fff;
    font-size: 1.6rem;
    line-height: 40px;
}
.tab li .tabbox {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    height: 200px;
    font-size: 1.6rem;
    background-color: #ccc;
    z-index: 0;
}
.tab li input:checked +label {
    background-color: #666;
}
.tab li input:checked ~.tabbox {
    z-index: 100;
}