* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
#box {
    text-align: center;
    width: 300px;
    margin: 300px;
    position: relative;
}
#box > input {
    display: none;    
}
#box > label {
    display: block;
    background-color: #000;
    color: #fff;
    line-height: 50px;
    cursor: pointer;
}
#box .abbox {
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}
#box .abbox > li > a {
    display: block;
    background-color: #ccc;
    color: #000;
    line-height: 50px;
}
#box > input:checked ~.abbox {
    height: 250px;
}
#box .abbox > li:hover a {
    background-color: #000;
    color: #fff;
}